@model IEnumerable<StudentManagement.Models.ApplicationUser>

@{
    ViewBag.Title = "Studenti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profesori</h2>
<table id="ispitiStudenata" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                Brisanje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   
                     @Html.ActionLink(item.Email, "PassedExamsByProfessor", "ExamResult", new { idProfesora = item.Id, @data_toggle = "popover", @data_trigger = "hover" }, null)
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Obrisi", "Obrisi", "Home", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    <script>
        $(document).ready(function () {

            $("#ispitiStudenata").DataTable();

        });
    </script>
}