@model StudentManagement.ViewModels.PolaganjeFormViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Izmeni Polaganje</h2>

@using (Html.BeginForm("Save", "ExamResult"))
{


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">

        @Html.LabelFor(p => p.Students)
        @Html.DropDownListFor(p => p.StudentId,
        new SelectList(Model.Students, "Id", "Email"), "Student", new { @class = "form-control" })

        @Html.ValidationMessageFor(i => i.StudentId)

    </div>


    <div class="form-group">
        @Html.LabelFor(p => p.Exams)
        @Html.DropDownListFor(p => p.ExamId,
        new SelectList(Model.Exams, "Id", "SubjectNameExamDate"), "Izaberi predmet", new { @class = "form-control" })

        @Html.ValidationMessageFor(i => i.ExamId)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.NumberOfAttampts)
        @Html.TextBoxFor(p => p.NumberOfAttampts, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.NumberOfAttampts)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Score)
        @Html.TextBoxFor(p => p.Score, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Score)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Grade)
        @Html.TextBoxFor(p => p.Grade, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Grade)
    </div>


    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => p.Id)

    <button type="submit" class="btn btn-primary">Sacuvaj</button>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
