@model StudentManagement.ViewModels.PolaganjeFormViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prijavi ispit</h2>
@using (Html.BeginForm("Save", "ExamResult"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Exams)
        @Html.DropDownListFor(p => p.ExamId,
        new SelectList(Model.Exams, "Id", "SubjectNameExamDate"), "Izaberi predmet", new { @class = "form-control" })

        @Html.ValidationMessageFor(i => i.ExamId)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Students)
        @Html.DropDownListFor(p => p.StudentId, new SelectList(Model.Students, "Id", "Email"), "Izaberi studenta", new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Students)
    </div>


    @Html.HiddenFor(p => p.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Sacuvaj</button>
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
