@model IEnumerable<StudentManagement.Models.ExamResult>
@{
    ViewBag.Title = "Polaganja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Polaganja</h2>
@if (!Model.Any())
{
    <p>Nema polaganja!</p>
}
else
{
    <div class="container">
    <h2>Broj polozenih ispita: @ViewBag.BrojPolozenih</h2>
    <table id="polaganja" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Ocena</th>
                <th>Broj pokusaja</th>
                <th>Broj bodova</th>
                <td>Polozio?</td>
                <td>Naziv predmeta</td>
                <td>Datum ispita</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var polaganje in Model)
            {
                <tr>
                    <td>@polaganje.Grade</td>
                    <td>@polaganje.NumberOfAttempts</td>
                    <td>@polaganje.Score</td>
                    <td>@polaganje.Passed</td>
                    <td>@polaganje.Exam.Subject.Name</td>
                    <td>@polaganje.Exam.DateOfExam</td>
                </tr>
            }
        </tbody>
    </table>
        </div>
}
@section scripts{
    <script>
        $(document).ready(function () {

            $("#polaganja").DataTable();
           
        });
    </script>
}