@model IEnumerable<StudentManagement.Models.Subject>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Predmeti</h2>
<p>
    @Html.ActionLink("Novi predmet", "NewSubject", "Predmeti", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Nema predmeta!</p>
}
else {
    <table id="predmeti" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>ESPB Bodovi</th>
              @*  <th>Brisanje</th>*@
                <th>Prof</th>
                <th>Obrisi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var predmet in Model) {
                  <tr>
                      <td>@Html.ActionLink(predmet.Name, "Edit", "Predmeti", new { id = predmet.Id }, null)</td>
                      <td>@predmet.Espb</td>
                      <td>@predmet.User.Email</td>
                    @*  <td>@Html.ActionLink("Obrisi", "Obrisi", "Predmeti", new { id = predmet.id}, null)</td>*@

                      <td>
                          <button data-predmet-id="@predmet.Id" class="btn-link js-delete">Obrisi</button>
                      </td>
                  </tr>
            }
        </tbody>
    </table>
}

@section scripts{
    <script>
        $(document).ready(function () {

            var table = $("#predmeti").DataTable();

            $("#predmeti").on("click", ".js-delete", function () {
                var btn = $(this);
                bootbox.confirm("Brisanjem predmeta obrisacete i ispite vezane za predmet, obrisi?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/predmeti/" + btn.attr("data-predmet-id"),
                            method: "DELETE",
                            success: function () {
                                console.log("uspesno");
                                table.row(btn.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>    
}