@model IEnumerable<StudentManagement.Models.Polaganje>
@{
    ViewBag.Title = "Polaganja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Polaganja</h2>
<p>
    @Html.ActionLink("Novo polaganje", "NovoPolaganje", "Polaganje", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Nema polaganja!</p>
}
else
{
    <table id="polaganja" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Ocena</th>
                <th>Broj pokusaja</th>
                <th>Broj bodova</th>
                <td>Polozio?</td>
                <td>Student</td>
                <td>Naziv predmeta</td>
                <td>Datum ispita</td>
                <th>Brisanje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var polaganje in Model)
            {
                <tr> 
                    <td>@polaganje.ocena</td>
                    <td>@polaganje.brojPokusaja</td>
                    <td>@polaganje.brojBodova</td>
                    <td>@polaganje.polozio</td>
                    <td>@Html.ActionLink(polaganje.student.Email, "Izmeni", "Polaganje", new { id = polaganje.id }, null)</td>
                    <td>@polaganje.ispit.predmet.naziv</td>
                    <td>@polaganje.ispit.datumIspita</td>

                    @*<td>
                        <button data-ispit-id="@polaganje.id" class="btn-link js-delete">Obrisi</button>
                    </td>*@
                    <td>@Html.ActionLink("Obrisi", "Obrisi", "Polaganje", new { id = polaganje.id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts{
    <script>
        $(document).ready(function () {

            $("#polaganja").DataTable();

            //$("#polaganja").on("click", ".js-delete", function () {
            //    var btn = $(this);
            //    bootbox.confirm("Brisanjem predmeta obrisacete i ispite vezane za predmet, obrisi?", function (result) {
            //        if (result) {
            //            $.ajax({
            //                url: "/api/ispiti/" + btn.attr("data-ispit-id"),
            //                method: "DELETE",
            //                success: function () {
            //                    console.log("uspesno");
            //                    btn.parents("tr").remove();
            //                }
            //            });
            //        }
            //    });
            //});
        });
    </script>
}


