@model StudentManagement.ViewModels.PolaganjeFormViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Izmeni Polaganje</h2>

@using (Html.BeginForm("Sacuvaj", "Polaganje"))
{


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">

        @Html.LabelFor(p => p.studenti)
        @Html.DropDownListFor(p => p.studentId,
        new SelectList(Model.studenti, "id", "Email"), "Student", new { @class = "form-control" })

        @Html.ValidationMessageFor(i => i.studentId)

    </div>


    <div class="form-group">
        @Html.LabelFor(p => p.ispiti)
        @Html.DropDownListFor(p => p.ispitId,
        new SelectList(Model.ispiti, "id", "nazivDatum"), "Izaberi predmet", new { @class = "form-control" })

        @Html.ValidationMessageFor(i => i.ispitId)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.brojPokusaja)
        @Html.TextBoxFor(p => p.brojPokusaja, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.brojPokusaja)
    </div>

    @*<div class="checkbox">
        <label>
            @Html.CheckBoxFor(p => p.polozio) Polozio ispit?
        </label>
    </div>*@



    <div class="form-group">
        @Html.LabelFor(p => p.brojBodova)
        @Html.TextBoxFor(p => p.brojBodova, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.brojBodova)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.ocena)
        @Html.TextBoxFor(p => p.ocena, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.ocena)
    </div>


    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => p.id)

    <button type="submit" class="btn btn-primary">Sacuvaj</button>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
